<a href="https://colab.research.google.com/github/luuloi/GWAS_Introduction_2023/blob/main/01_Basic_R_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data assignment and data type checking

1. Check the data type of these variables below

In [ ]:
x <- 10

In [ ]:
y <- 10.5

In [ ]:
z <- "Bioinformatics"

In [ ]:
a <- TRUE

2. Create a vector of 1 to 10

In [ ]:
x <- c()

3. Print out the vector and its data type

In [ ]:
print()

print(class())

4. Multiply the vector by 2 and assign it to a new variable

In [ ]:
y <- x *

5. Divide the third element of the vector `y` by 3 and assign it to a new variable

In [ ]:
z <- y[] /

6. Create a `4 * 5` matrix

In [ ]:
set.seed(123) # Setting a seed for reproducibility
mat <- matrix(runif(20, min=1, max=100), nrow= , ncol=)
print(mat)

# Descriptive statistics

1. Get the mean and median of z

In [ ]:
mean()

max()

2. Get the min and max of z

In [ ]:
min()

max()

3. Get the summary of matrix `mat`

In [ ]:
summary()

4. Get the column mean and row mean of matrix `mat`

In [ ]:
row_means <- rowMeans()
print(row_means)

col_means <- colMeans()
print(col_means)

In [ ]:
5. Get the row variance and standard deviation (hint: 1 is for row and 2 is for column)

In [ ]:
col_vars <- apply(mat, 2, var)
print(col_vars)

col_sds <- apply(mat, 2, sd)
print(col_sds)

In [ ]:
row_vars <- apply(mat, 1, var)
print(row_vars)

row_sds <- apply(mat, 1, sd)
print(row_sds)

6. Get the sum of column and row

In [ ]:
col_sum <- colSums(mat)
print(col_sum)

row_sum <- rowSums(mat)
print(row_sum)

# Factor and string operation

1. Check the levels of `group`

In [15]:
group <- factor(c("A", "B", "A", "A", "B"))

print(levels())

2. Find length of each string in the vector `description`

In [23]:
description <- c("First row", "Second row", "Third row", "Fourth row", "Fifth row")

nchar(description)

3. Find string that has `Third`

In [ ]:
grepl("Third", )